<!DOCTYPE html>
<% title="Super Wealth" %>
<html lang="en">
<head>
  <title><%= @title || "SuperWealth" %></title>
  <meta charseet="utf-5">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/bootstrap-responsive.css">
</head>
  <header>
    <h1><%= title %></h1>
    </header>
  <body>
 <% if flash[:errors] && !flash[:errors].empty? %>
   <div id="errors">
      <% flash[:errors].each do |error| %>
         <%= error %>
    </div>
      <% end %>
    </ul>
  <% end %>
  <% if flash[:notice] %>
    <div id="notice">
      <%= flash[:notice] %>
    </div>
  <% end %>
   <%= yield %>
   <script src="/js/bootstrap.min.js"></script>
   <script src="//www.google.com/jsapi"></script>
   <script src="/js/chartkick.js"></script>
</body>
</html>
